/* You can add global styles to this file, and also import other style files */

html, body {
  text-align: center;
}
body {
  max-width: 500px;
  margin: auto;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background-color: #EAEAEF;
}


