ion-col {
    text-align: center;
}

.txHash {
    padding-bottom: 10px;
}

ion-range {
    padding-top: 0;
    padding-bottom: 0;
    --knob-size: 30px;
    // --height: 50px;
    --bar-height: 4px;
}

.amount {
    margin-right: 10px;
}

ion-row {
    margin-bottom: 20px;
}